<!-- ##### Right Side Cart Area ##### -->
<div class="cart-bg-overlay"></div>
<!-- ##### Right Side Cart End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(./assets/img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Tiendas Oficiales</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3">
              <div class="shop_sidebar_area">

                  <!-- ##### Single Widget ##### -->
                  <div class="widget catagory mb-50">
                      <!-- Widget Title -->
                      <h6 class="widget-title mb-30">Catagories de Empresas</h6>

                      <!--  Catagories  -->
                      <div class="catagories-menu">
                          <ul id="menu-content2" class="menu-content collapse show">
                              <!-- Single Item -->
                              <li data-toggle="collapse" data-target="#clothing">
                                  <a href="#">Tecnologia</a>
                                  <ul class="sub-menu collapse show" id="clothing" *ngFor="let cat of listcategorias.tecnologia">
                                      <li><a href="#">{{ cat.categoria }}</a></li>
                                  </ul>
                              </li>
                              <!-- Single Item -->
                              <li data-toggle="collapse" data-target="#shoes" class="collapsed">
                                  <a class="mouse">Ropa</a>
                                  <ul class="sub-menu collapse" id="shoes" *ngFor="let cat of listcategorias.ropa">
                                      <li><a href="#">{{ cat.categoria }}</a></li>
                                  </ul>
                              </li>
                              <!-- Single Item -->
                              <li data-toggle="collapse" data-target="#accessories" class="collapsed">
                                  <a class="mouse">Belleza</a>
                                  <ul class="sub-menu collapse" id="accessories" *ngFor="let cat of listcategorias.belleza">
                                      <li><a href="#">{{ cate.categoria }}</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
            <div class="col-12 col-md-8 col-lg-9">
                <div
                  class="shop_grid_product_area"
                >
                    <div class="row">
                        <!-- Single Product -->
                        <div class="col-12 col-sm-6 col-lg-4" *ngFor="let item of listtiendas">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{{item.logo || '/assets/img/product-img/product-1.jpg'}}" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{ item.logo2 || '/assets/img/product-img/product-2.jpg'}}" alt="">

                                    <!-- Product Badge -->
                                    <!-- <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div> -->
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>{{ item.empresa }}</span>
                                    <a href="single-product-details.html">
                                        <h6>{{ item.categorias || 'Categorias'}}</h6>
                                    </a>
                                    <!-- <p class="product-price"><span class="old-price">$75.00</span> $55.00</p> -->

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a [routerLink]="['../shop', item.url]" class="btn essence-btn">Ver Tienda</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination mt-50 mb-70">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">21</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
