.fondo {
    background-image: url('https://www.diariodesevilla.es/2018/09/27/sevilla/centro-comercial-Torre-Sevilla_1285982036_89413339_667x375.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}
.alto {
  height: 0px;
}
.ancho {
  height: 28px;
}

.label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

.label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.label:hover,
.label:hover ~ .label {
  color: orange;
}

input[type="radio"]:checked ~ .label {
  color: orange;
}
.checkcolor {
  color: orange;
}
