<div class="content row fondo">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <ul class="nav nav-pills nav-fill bg-secondary">
        <li class="nav-item">
          <a class="nav-link active text-white" href="#">Filosofia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Entrenamiento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Trabaja Con Nosotros</a>
        </li>
      </ul>
      <div class="d-flex align-items-center bg-secondary">
        <br><br><br><br>
        <p class="text-white">
          SOMOS UNA COMUNIDAD DEDICADA AL DISFRUTE Y RESPETO DE LA VIDA, NUESTRO HOBBY ES HACER LA MEJOR ROPA DEL MUNDO.
        </p>
      </div>
    </div>
  </div>
</div>
