<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger row">
                      <div class="col row">
                        <div class="">
                          <h4 class="card-title ">Clientes</h4>
                          <p class="card-category" *ngIf="!disable"> Listado de Clientes</p>
                          <p class="card-category" *ngIf="disable"> Agregar Cliente</p>
                        </div>
                        <div class="col p-1" *ngIf="!disable">
                          <input type="text"
                            style="color: white;"
                            matTooltip="Buscador"
                            class="form-control" placeholder="Buscar Cliente" [(ngModel)]="searcht.txt" (blur)="getsearh()">
                        </div>
                        <div class="" *ngIf="!disable">
                          <button
                            mat-mini-fab
                            color="primary"
                            matTooltip="Buscar"
                            placeholder="Buscar" (click)="getsearh()">
                            <i class="material-icons">search</i>
                          </button>
                        </div>
                      </div>
                      <div class="">
                        <button
                          mat-mini-fab
                          placeholder="guardar"
                          color="primary"
                          *ngIf="disable && !data.id"
                          (click)="saved()"
                        >
                          <i class="material-icons">save</i>
                        </button>
                        <button
                          mat-mini-fab
                          (click)="open(false)"
                          placeholder="agregar"
                        >
                          <i
                            class="material-icons"
                            *ngIf="!disable"
                          >
                            add_circle_outline
                          </i>
                          <i
                            color="warn"
                            class="material-icons"
                            *ngIf="disable"
                          >
                            close
                          </i>
                        </button>
                      </div>
                  </div>
                  <div class="card-body" *ngIf="!disable">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                     Opciones
                                  </th>
                                  <th>
                                      Foto
                                  </th>
                                  <th>
                                      Cliente
                                  </th>
                                  <th
                                    *ngIf="user.rol.nombre === 'super admin'"
                                  >
                                      Email
                                  </th>
                                  <th>
                                      Creado
                                  </th>
                              </thead>
                              <tbody>
                                  <tr
                                    *ngFor="let item of list; let indice=index"
                                  >
                                    <td>
                                      <button
                                        mat-mini-fab
                                        color="primary"
                                        placeholder="Ver"
                                        [routerLink]="['../clientes', item.id]"
                                      >
                                      <!-- (click)="open(item)" -->
                                        <i
                                          class="material-icons"
                                        >
                                          remove_red_eye
                                        </i>
                                      </button>
                                      <button
                                        mat-mini-fab
                                        color="warn"
                                        placeholder="Ver"
                                        (click)="delete(item, indice)"
                                      >
                                        <i
                                          class="material-icons"
                                        >
                                          close
                                        </i>
                                      </button>
                                    </td>
                                    <td>
                                      <img
                                        class="md-avatar"
                                        height="40px"
                                        width="50px"
                                        src="{{ item.foto }}"
                                        alt="None"
                                      >
                                    </td>
                                    <td>
                                      {{ item.username }}
                                    </td>
                                    <td
                                      *ngIf="user.rol.nombre === 'super admin'"
                                    >
                                      {{ item.email }}
                                    </td>
                                    <td>
                                      {{ item.createdAt}}
                                    </td>
                                  </tr>
                              </tbody>
                          </table>
                          <mat-paginator [length]="count"
                                        [pageSize]="10"
                                        (page)="pageEvent($event)">
                          </mat-paginator>
                      </div>
                  </div>
                  <div class="card-body" *ngIf="disable">
                    <div class="form-column">
                      <div class="form-row">
                        <div class="form-group col-sm">
                          <label for="formGroupExampleInput">Nombre del Cliente</label>
                          <input type="text"
                            (blur)="blur('name')"
                            class="form-control" placeholder="Nombre" [(ngModel)]="data.name">
                        </div>
                        <div class="form-group col-sm">
                          <label for="formGroupExampleInput">Apellido del Cliente</label>
                          <input type="text"
                            (blur)="blur('lastname')"
                            class="form-control" placeholder="Apellido" [(ngModel)]="data.lastname">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-sm">
                          <label for="formGroupExampleInput">Nombre de Usuario/avatar</label>
                          <input type="text"
                            (blur)="blur('username')"
                            class="form-control" placeholder="Nombre" [(ngModel)]="data.username">
                        </div>
                        <div class="form-group col-sm" *ngIf="user.rol.nombre === 'super admin'">
                          <label for="formGroupExampleInput">Celular</label>
                          <input type="text"
                            (blur)="blur('celular')"
                            class="form-control" placeholder="Celular" [(ngModel)]="data.celular">
                        </div>
                        <div class="form-group col-sm" >
                          <label for="formGroupExampleInput">Sexo</label>
                          <select class="custom-select"  (blur)="blur('sexo')" [(ngModel)]="data.sexo">
                            <option value="none">none</option>
                            <option value="masculino">Masculino</option>
                            <option value="femenino">Femenino</option>
                            <option value="sinespecificar">Sin Especificar</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-row" *ngIf="user.rol.nombre === 'super admin'">
                        <div class="form-group col-sm">
                          <label for="formGroupExampleInput">Tipo de Documento</label>
                          <select class="custom-select"  (blur)="blur('tipdoc')" [(ngModel)]="data.tipdoc">
                            <option value="none">none</option>
                            <option value="cc">CC</option>
                            <option value="ce">CE</option>
                            <option value="doc">DOC</option>
                            <option value="sinespecificar">Sin Especificar</option>
                          </select>
                        </div>
                        <div class="form-group col-sm" >
                          <label for="formGroupExampleInput">Documento</label>
                          <input type="text"
                            (blur)="blur('documento')"
                            class="form-control" placeholder="clave" [(ngModel)]="data.documento">
                        </div>
                      </div>
                      <div class="form-row" *ngIf="user.rol.nombre === 'super admin'">
                        <div class="form-group col-sm">
                          <label for="formGroupExampleInput">Email</label>
                          <input type="text"
                            (blur)="blur('email')"
                            class="form-control" placeholder="Email" [(ngModel)]="data.email">
                        </div>
                        <div class="form-group col-sm">
                          <label for="formGroupExampleInput">Password</label>
                          <input type="text"
                            (blur)="blur('password')"
                            class="form-control" placeholder="clave" [(ngModel)]="data.password">
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
