.vares{
  text-align: center;
  padding: 10px;
}
.bordeVar{
  padding: 10px;
}
.grip-center{
  width:200px;
  left:50%;
  margin-left:-100px;
  position:absolute;
}
.grip-center h3{
  color: white;
}
