<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Perfil</h4>
                      <p class="card-category">Complete los campos</p>
                  </div>
                  <div class="card-body">
                      <div>
                          <div class="row">
                              <div class="col-md">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Empresa (disabled)" disabled [(ngModel)]="data.empresa.empresa">
                                  </mat-form-field>
                              </div>
                              <div class="col-md">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username / Avatar" [(ngModel)]="data.username">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nombre" type="text" [(ngModel)]="data.name" (blur)="edit('name')">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Apeliido" type="text" [(ngModel)]="data.lastname" (blur)="edit('lastname')">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Pais" type="text" [(ngModel)]="data.pais" (blur)="edit('pais')">
                                </mat-form-field>
                              </div>
                              <div class="col-md">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Correo electronico" type="email" [(ngModel)]="data.email" (blur)="edit('email')">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Ciudad" type="text" [(ngModel)]="data.ciudad" (blur)="edit('ciudad')">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Departamento" type="text" [(ngModel)]="data.departamento" (blur)="edit('departamento')">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Codigo Postal" type="text" [(ngModel)]="data.codigopostal" (blur)="edit('codigopostal')">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Direccion" type="text" [(ngModel)]="data.direcion" (blur)="edit('direcion')">
                                </mat-form-field>
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Actualizar</button>
                          <div class="clearfix"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a class="mouse">
                          <img class="img" [src]="data.foto || './assets/img/faces/marc.jpg'" />
                      </a>
                  </div>
                  <div class="row justify-content-md-center p-1">
                    <input type="file" placeholder="Imagenes" [(ngModel)]="img" (blur)="datafiles($event)">
                  </div>
                  <div class="row justify-content-md-center">
                    <button
                      (click)="file(cuerpo)"
                      *ngIf="carga"
                      class="btn btn-primary"
                    >
                      <i class="fas fa-cloud-upload-alt fa-1x"></i>
                      Guardar Imagen
                    </button>
                  </div>
                  <div  *ngIf="!carga" class="d-flex align-items-center">
                    <strong>Loading...</strong>
                    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">{{ data.rol.nombre }}</h6>
                      <!-- <h4 class="card-title">{{ data.}}</h4> -->
                      <p class="card-description">
                          Usuario de plaforma
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
