<div class="main-content">
  <div class="container-fluid card">
      <nav
        class="navbar navbar-light bg-light row card-header card-header-danger"
      >
        <span
          class="p"
        >
            Productos
        </span>
        <div>
          <button
            mat-mini-fab
            placeholder="guardar"
            *ngIf="disable && !data.id"
            (click)="saved()"
          >
            <i class="material-icons">save</i>
          </button>
          <button
            mat-mini-fab
            (click)="add()"
            placeholder="agregar"
          >
            <i
              class="material-icons"
              *ngIf="!disable"
            >
              add_circle_outline
            </i>
            <i
              class="material-icons"
              *ngIf="disable"
            >
              close
            </i>
          </button>
        </div>
      </nav>
      <br>
      <div
        fxLayout="row"
      >
        <div
          class="card-body"
          *ngIf="!disable"
        >
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Opciones
                      </th>
                        <th>
                            Foto
                        </th>
                        <th>
                            Codigo
                        </th>
                        <th>
                            Producto
                        </th>
                        <th>
                            Tipo
                        </th>
                        <th>
                            Costo de Compra
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Megusta
                        </th>
                    </thead>
                    <tbody>
                        <tr
                          *ngFor="let item of list"
                        >
                        <td>
                          <button
                            mat-mini-fab
                            (click)="add(item)"
                            placeholder="Ver"
                          >
                            <i
                              class="material-icons"
                            >
                              remove_red_eye
                            </i>
                          </button>
                        </td>
                            <td>
                              <img
                                class="md-avatar"
                                height="40px"
                                width="50px"
                                src="{{ item.foto }}"
                                alt="None"
                              >
                            </td>
                            <td>
                              {{ item.codigo }}
                            </td>
                            <td>
                                {{ item.titulo }}
                            </td>
                            <td>
                                {{ item.tipo }}
                            </td>
                            <td class="text-primary">
                                {{ item.costocompra}}
                            </td>
                            <td class="text-primary">
                                {{ item.cantidad}}
                            </td>
                            <td class="text-primary">
                                {{ item.megusta }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-body" *ngIf="disable">
          <div class="form-column">
            <div class="container" *ngIf="data.id">
              <div class="row">
                <div class="col align-self-start">

                </div>
                <div class="col align-self-center">
                  <p>
                    <img
                        [src]="data.foto"
                        alt="none"
                        width="100px"
                        height="120px"
                    >
                 </p>
                    <!-- <div
                      class="image-upload"
                      style="overflow: hidden;"
                    >
                        <input
                          type="file"
                          [(ngModel)]="img"
                          (blur)="datafiles($event)"
                          accept="image/x-png,image/jpeg"
                        />
                        <button
                          (click)="file()"
                          mat-mini-fab color="primary"
                        >
                          <i class="fas fa-cloud-upload-alt fa-1x"></i>
                        </button>
                    </div> -->
                </div>
                <div class="col align-self-end">
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="formGroupExampleInput">Codigo del Producto</label>
                <input type="text"
                  (blur)="blur('codigo')"
                  class="form-control" placeholder="Codigo del Producto" [(ngModel)]="data.codigo">
              </div>
              <div class="form-group col">
                <label for="formGroupExampleInput">Nombre del Producto</label>
                <input type="text"
                  (blur)="blur('titulo')"
                  class="form-control" placeholder="Nombre" [(ngModel)]="data.titulo">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="formGroupExampleInput">Categoria</label>
                <select class="custom-select"  (blur)="blur('categorias')" [(ngModel)]="data.categorias">
                  <option value="none">none</option>
                  <option
                    value="{{item.id}}"
                    *ngFor="let item of listcategoria"
                  >
                    {{ item.categoria }}
                  </option>
                </select>
              </div>
              <div class="form-group col">
                <label for="formGroupExampleInput">Marca</label>
                <select class="custom-select"  (blur)="blur('marca')" [(ngModel)]="data.marca">
                  <option value="none">none</option>
                  <option
                    value="{{item.id}}"
                    *ngFor="let item of listmarca"
                  >
                    {{ item.categoria }}
                  </option>
                </select>
              </div>
              <div class="form-group col">
                <label for="formGroupExampleInput">Cantidad</label>
                <input type="number"
                  (blur)="blur('cantidad')"
                  class="form-control" placeholder="Cantidad de Producto" [(ngModel)]="data.cantidad">
              </div>
              <div class="form-group col">
                <label for="formGroupExampleInput">Stock</label>
                <input type="text"
                  (blur)="blur('stock')"
                  class="form-control" placeholder="Stock de Producto" [(ngModel)]="data.stock">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="formGroupExampleInput">Estado del Producto</label>
                <select class="custom-select"  (blur)="blur('estado')" [(ngModel)]="data.estado">
                  <option value="none">none</option>
                  <option value="nuevo">Nuevo</option>
                  <option value="usado">Usado</option>
                </select>
              </div>
              <div class="form-group col">
                <label for="formGroupExampleInput">Opcion</label>
                <select class="custom-select"  (blur)="blur('opcion')" [(ngModel)]="data.opcion">
                  <option value="none">none</option>
                  <option value="activo">Activo</option>
                  <option value="inactivo">Inactivo</option>
                </select>
              </div>
              <div class="form-group col">
                <label for="formGroupExampleInput">Costo de la Compra</label>
                <input type="number"
                  (blur)="blur('costocompra')"
                  class="form-control" placeholder="Costo de la Compra del Producto" [(ngModel)]="data.costocompra">
              </div>
              <div class="form-group col">
                <label for="formGroupExampleInput">Costo de la Venta</label>
                <input type="number"
                  (blur)="blur('costoventa')"
                  class="form-control" placeholder="Costo de la Venta del Producto" [(ngModel)]="data.costoventa">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="formGroupExampleInput">Talla del Producto</label>
                <select class="custom-select"  (blur)="blur('talla')" [(ngModel)]="data.talla">
                  <option value="none">none</option>
                    <option
                      value="{{item.id}}"
                      *ngFor="let item of listtalla"
                    >
                      {{ item.talla }}
                    </option>
                </select>
              </div>
              <div class="form-group col">
                <label for="formGroupExampleInput">Color del Producto</label>
                <select class="custom-select"  (blur)="blur('color')" [(ngModel)]="data.color">
                  <option value="none">none</option>
                    <option
                      value="{{item.id}}"
                      *ngFor="let item of listcolor"
                    >
                      {{ item.color }}
                    </option>
                </select>
              </div>
              <div class="form-group col">
                <label for="formGroupExampleInput">Fecha de Vencimiento</label>
                <input type="date"  placeholder="Fecha de Vencimiento" [(ngModel)]="data.fechavencimiento"
                (blur)="edit('fechavencimiento')">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="formGroupExampleInput">Descripcin</label>
                <textarea class="form-control" (blur)="blur('descripcion')" rows="3" [(ngModel)]="data.descripcion"></textarea>
              </div>
            </div>
          </div>
        </div>
        <!-- <div
          *ngIf="disable"
          class="column"
        >
          <div
            class="column"
          >
            <div
              class="row"
            >
              <mat-form-field
                class=""
              >
                <input
                  matInput
                  type="text"
                  placeholder="Codigo"
                  [(ngModel)]="data.codigo"
                  (blur)="edit('codigo')"
                >
              </mat-form-field>
              <mat-form-field
                class="col"
              >
                <input
                  matInput
                  type="text"
                  placeholder="Nombre del Producto"
                  [(ngModel)]="data.titulo"
                  (blur)="edit('titulo')"
                >
              </mat-form-field>
            </div>

            <div
              class="row"
            >
              <mat-form-field
                class="col"
              >
                <input
                  matInput
                  type="text"
                  placeholder="tipo"
                  [(ngModel)]="data.tipo"
                  (blur)="edit('tipo')"
                >
              </mat-form-field>
              <mat-form-field
                class="col"
              >
                <input
                  matInput
                  type="text"
                  placeholder="Cantidad de Producto"
                  [(ngModel)]="data.cantidad"
                  (blur)="edit('cantidad')"
                >
              </mat-form-field>
              <mat-form-field
                class="col"
              >
                <input
                  matInput
                  type="text"
                  placeholder="Cantidad Stock"
                  [(ngModel)]="data.cantidadstock"
                  (blur)="edit('cantidadstock')"
                >
              </mat-form-field>
            </div>
            <div
              class="row"
            >
              <mat-form-field
                class="col"
              >
                <input
                  matInput
                  type="text"
                  placeholder="Estado"
                  [(ngModel)]="data.estado"
                  (blur)="edit('estado')"
                >
              </mat-form-field>
              <mat-form-field
                class="col"
              >
                <input
                  matInput
                  type="text"
                  placeholder="Costo de Compra"
                  [(ngModel)]="data.costocompra"
                  (blur)="edit('costocompra')"
                >
              </mat-form-field>
              <mat-form-field
                class="col"
              >
                <input
                  matInput
                  type="text"
                  placeholder="Costo de Venta"
                  [(ngModel)]="data.costoventa"
                  (blur)="edit('costoventa')"
                >
              </mat-form-field>
            </div>
            <div
              class="row"
            >
              <mat-form-field
                class="col"
              >
                <input
                  matInput
                  type="text"
                  placeholder="Talla"
                  [(ngModel)]="data.talla"
                  (blur)="edit('talla')"
                >
              </mat-form-field>
              <mat-form-field
                class="col"
              >
                <input
                  matInput
                  type="text"
                  placeholder="Color"
                  [(ngModel)]="data.color"
                  (blur)="edit('color')"
                >
              </mat-form-field>
              <mat-form-field
                class="col"
              >
                <input
                  matInput
                  type="text"
                  placeholder="Fecha de Vencimiento"
                  [(ngModel)]="data.fechavencimiento"
                  (blur)="edit('fechavencimiento')"
                >
              </mat-form-field>
            </div>
            <div
              class="row"
            >
              <mat-form-field
                class="col"
              >
                <input
                  matInput
                  type="text"
                  placeholder="Megustas"
                  disabled
                  [(ngModel)]="data.megustas"
                >
              </mat-form-field>
              <mat-form-field
                class="col"
              >
                <input
                  matInput
                  type="text"
                  placeholder="No Megustas"
                  disabled
                  [(ngModel)]="data.nomegusta"
                >
              </mat-form-field>
              <mat-form-field
                class="col"
              >
                <input
                  matInput
                  type="text"
                  placeholder="Vistos"
                  disabled
                  [(ngModel)]="data.vistos"
                >
              </mat-form-field>
              <mat-form-field
                class="col"
              >
                <input
                  matInput
                  type="text"
                  placeholder="Compartidos"
                  disabled
                  [(ngModel)]="data.compartidos"
                >
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field
                class="col"
              >
                <textarea
                  matInput
                  placeholder="Descripcion"
                  [(ngModel)]="data.descripcion"
                  (blur)="edit('descripcion')"
                >
                </textarea>
              </mat-form-field>
            </div>
          </div>
        </div> -->
      </div>
  </div>
</div>
