<div class="main-content">
  <div class="container-fluid card">
      <nav
        class="navbar navbar-light bg-light row card-header card-header-danger"
      >
        <div class="col row">
          <span
            class="p"
            *ngIf="disable"
          >
              Productos
          </span>
          <div class="col p-1" *ngIf="!disable">
            <input type="text"
              style="color: white;"
              matTooltip="Buscador"
              class="form-control" placeholder="Buscar Productos" [(ngModel)]="searcht.txt" (blur)="getsearh()">
          </div>
          <div class="" *ngIf="!disable">
            <button
              mat-mini-fab
              color="primary"
              matTooltip="Buscar"
              placeholder="Buscar" (click)="getsearh()">
              <i class="material-icons">search</i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="form-group" *ngIf="disable">
            <select class="custom-select" (blur)="disableeye()" [(ngModel)]="disabledinit">
                <option value="false">Editar</option>
              <option value="true">Editar Avanzado</option>
            </select>
          </div>
          <button
            mat-mini-fab
            color="primary"
            placeholder="guardar"
            matTooltip="Guardar Producto"
            *ngIf="disable && !data.id"
            [disabled]="!disablesaved"
            (click)="saved()"
          >
            <i class="material-icons">save</i>
          </button>
          <!-- <button
            mat-mini-fab
            color="primary"
            placeholder="guardar"
            *ngIf="disable && !data.id"
            matTooltip="Importar hoja de calculo"
            (click)="disabledexcel = !disabledexcel"
          >
            <i class="material-icons">description</i>
          </button> -->
          <div *ngIf="disable && !data.id && !disabledexcel">
            <button
              mat-mini-fab
              color="accent"
              (click)="multiple = !multiple; multiple === false ? listgroup= []:false;"
              class="btn btn-primary">
              <span *ngIf="!multiple"
                matTooltip="varios formulario"
              >
                <i class="material-icons">library_books</i>
              </span>
              <span
                *ngIf="multiple"
                matTooltip="Un solo formulario"
              >
                <i class="material-icons">turned_in</i>
              </span>
            </button>
            <button
              mat-mini-fab
              color="accent"
              *ngIf="multiple"
              type="button"
              (click)="clickmultiple()"
              class="btn btn-primary">
              <i class="material-icons">add_circle_outline</i>
            </button>
          </div>
          <button
            mat-mini-fab
            (click)="add(false)"
            color="warn"
            placeholder="agregar"
          >
            <i
              class="material-icons"
              *ngIf="!disable"
            >
              add_circle_outline
            </i>
            <i
              class="material-icons"
              *ngIf="disable"
            >
              close
            </i>
          </button>
        </div>
      </nav>
      <br>
      <div
        fxLayout="row"
      >
        <div
          class="card-body"
          *ngIf="!disable"
        > 
          <div class="row">
            <div class="form-group col">
                <select class="custom-select" [(ngModel)]="query.where.empresa">
                    <label for="">Empresas</label>
                      <option [value]="none">
                        Limpiar
                      </option>
                      <option 
                        *ngFor="let em of listempresa"
                        [value]="em.id">
                          {{ em.empresa }}
                      </option>
                  </select>
            </div>
            <div class="p-1">
                <button type="button" (click)="getsearh()" class="btn btn-success">Buscar</button>
            </div>
          </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Opciones
                      </th>
                        <th>
                            Foto
                        </th>
                        <th>
                            Codigo
                        </th>
                        <th>
                            Producto
                        </th>
                        <th>
                            Costo del Producto
                        </th>
                        <th *ngIf="user.rol.nombre === 'super admin'">
                          Costo de Venta
                        </th>
                        <!-- <th>
                            Costo de Compra
                        </th> -->
                        <th>
                            Vistas
                        </th>
                        <th>
                            Megusta
                        </th>
                        <th>
                            Estado
                        </th>
                    </thead>
                    <tbody>
                        <tr
                          *ngFor="let item of list"
                        >
                        <td>
                          <button
                            mat-mini-fab
                            placeholder="Ver"
                            [routerLink]="['../productos', item.id]"
                          >
                            <i
                              class="material-icons"
                            >
                              remove_red_eye
                            </i>
                          </button>
                        </td>
                            <td>
                              <img
                                class="md-avatar"
                                height="40px"
                                width="50px"
                                src="{{ item.foto }}"
                                alt="None"
                              >
                            </td>
                            <td>
                              {{ item.codigo }}
                            </td>
                            <td>
                                {{ item.titulo }}
                            </td>
                            <td>
                              {{ item.costocompra }}
                            </td>
                            <td *ngIf="user.rol.nombre === 'super admin'">
                                <input type="text"
                                    (blur)="data.id=item.id; data.costoventa=item.costoventa; blur('costoventa', false)"
                                    class="form-control" placeholder="Costo de la Venta del Producto" [(ngModel)]="item.costoventa"
                                >
                            </td>
                            <td class="text-primary">
                                {{ item.vistos}}
                            </td>
                            <!-- <td class="text-primary">
                                {{ item.cantidad}}
                            </td> -->
                            <td class="text-primary">
                                {{ item.megusta }}
                            </td>
                            <td class="text-primary">
                              <span *ngIf="user.rol.nombre !== 'super admin'">
                                  {{ item.opcion }}
                              </span>
                              <span *ngIf="user.rol.nombre === 'super admin'">
                                  <div class="form-group" >
                                    <select class="custom-select" (blur)="data.id=item.id; data.opcion=item.opcion; blur('opcion', false)" [(ngModel)]="item.opcion">
                                        <option value="activo">Activar</option>
                                        <option value="revisando">Revisando</option>
                                        <option value="rechazado">Rechazado</option>
                                    </select>
                                  </div>
                              </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator [length]="count"
                              [pageSize]="10"
                              (page)="pageEvent($event)">
                </mat-paginator>
            </div>
        </div>
        <div class="card-body" *ngIf="disable">
          <div class="form-column" *ngIf="!multiple && !disabledexcel">
            <div class="column" *ngIf="data.id">
              <div class="row justify-content-md-center">
                <img *ngIf="data.id" [src]="data.foto" alt="none" width="200px" class="rounded"
                  height="180px">
              </div>
              <!--<div class="row justify-content-md-center p-1">
                <input type="file" [(ngModel)]="img" (blur)="datafiles($event)" accept="image/png, image/jpeg">
              </div>
              <div class="row justify-content-md-center">
                <button
                  (click)="file(false)"
                  *ngIf="carga"
                  class="btn btn-primary"
                >
                  <i class="fas fa-cloud-upload-alt fa-1x"></i>
                  Guardar Imagen
                </button>
              </div>
              <div  *ngIf="!carga" class="d-flex align-items-center">
                <strong>Loading...</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
              </div>
              -->
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="formGroupExampleInput">Codigo del Producto</label>
                <input type="text"
                  (blur)="blur('codigo', false)"
                  required
                  class="form-control" placeholder="Codigo del Producto" [(ngModel)]="data.codigo">
              </div>
              <div class="form-group col-sm">
                <label for="formGroupExampleInput">Nombre del Producto</label>
                <input type="text"
                  (blur)="blur('titulo', false)"
                  required
                  class="form-control" placeholder="Nombre" [(ngModel)]="data.titulo">
              </div>
              <div class="form-group" *ngIf="disabledinit">
                <label for="formGroupExampleInput">Tipo de producto</label>
                <select class="custom-select"  (blur)="blur('tipoproduct', false)" [(ngModel)]="data.tipoproduct" required>
                  <option value="producto" *ngIf="user.empresas.ofrece === 'producto' || user.empresas.ofrece === 'productoservicio'">Producto</option>
                  <option value="servicio" *ngIf="user.empresas.ofrece === 'servicio' || user.empresas.ofrece === 'productoservicio'">Servicio</option>
                </select>
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput">Tipo de Mercado</label>
                <select class="custom-select" (blur)="blur('tipomercado', false)" [(ngModel)]="data.tipomercado" required>
                  <option value="{{ pro.id }}" *ngFor="let pro of listmercados">{{ pro.titulo }}</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm">
                <label for="formGroupExampleInput">Categoria</label>
                <select class="custom-select"  (blur)="blur('categorias', false)" [(ngModel)]="data.categorias" required>
                  <option
                    value="{{item.id}}"
                    *ngFor="let item of listcategoria"
                  >
                    {{ item.categoria }}
                  </option>
                </select>
              </div>
              <div class="form-group col-sm">
                <label for="formGroupExampleInput">Marca</label>
                <select class="custom-select"  (blur)="blur('marca', false)" [(ngModel)]="data.marca" required>
                  <option
                    value="{{item.id}}"
                    *ngFor="let item of listmarca"
                  >
                    {{ item.categoria }}
                  </option>
                </select>
              </div>
              <div class="form-group col-sm">
                <label for="formGroupExampleInput">Cantidad Total</label>
                <input type="number"
                  (blur)="blur('cantidad', false)"
                  class="form-control" placeholder="Cantidad Total del Producto" [(ngModel)]="data.cantidad" required>
              </div>
              <div class="form-group col-sm" *ngIf="disabledinit">
                <label for="formGroupExampleInput">Stock</label>
                <input type="text"
                  (blur)="blur('stock', false)"
                  class="form-control" placeholder="Stock de Producto" [(ngModel)]="data.stock">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm">
                <label for="formGroupExampleInput">Estado del Producto</label>
                <select class="custom-select"  (blur)="blur('estado', false)" [(ngModel)]="data.estado" required>
                  <option value="nuevo">Nuevo</option>
                  <option value="usado">Usado</option>
                </select>
              </div>
              <div class="form-group col-sm" *ngIf="disabledinit">
                <label for="formGroupExampleInput">Opcion</label>
                <select class="custom-select"  (blur)="blur('opcion', false)" [(ngModel)]="data.opcion" required>
                  <option value="activo" *ngIf="user.rol.nombre === 'super admin' || data.opcion==='activo'">Activo</option>
                  <option value="revisando">Revisando</option>
                  <option value="inactivo">Inactivo</option>
                  <option value="rechazado">Rechazado</option>
                </select>
              </div>
              <div class="form-group col-sm" *ngIf="disabledinit">
                <label for="formGroupExampleInput">Peso(kg)</label>
                <input type="text"
                  (blur)="blur('peso', false)"
                  class="form-control" placeholder="Peso de Producto" [(ngModel)]="data.peso">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm">
                <label for="formGroupExampleInput">Costo del Producto</label>
                <input type="number"
                  (blur)="blur('costocompra', false)"
                  class="form-control" placeholder="Costo del Producto" [(ngModel)]="data.costocompra" required>
              </div>
              <div class="form-group col-sm" *ngIf="user.rol.nombre === 'super admin'">
                <label for="formGroupExampleInput">Costo de Venta</label>
                <input type="number"
                  (blur)="blur('costoventa', false)"
                  class="form-control" placeholder="Costo de la Venta del Producto" [(ngModel)]="data.costoventa" required>
              </div>
              <div class="form-group col-sm" *ngIf="disabledinit">
                <div class="form-group col-sm p-3">
                  <input type="checkbox" class="form-check-input" [(ngModel)]="data.costovarios" (blur)="blur('costovarios', false)">
                  <label class="form-check-label">Lista de Promosiones</label>
                </div>
              </div>
              <div class="form-group col-sm" *ngIf="!costovarios && disabledinit">
                <label for="formGroupExampleInput">Costo de Promosion</label>
                <input type="number"
                  (blur)="blur('costopromosion', false)"
                  class="form-control" placeholder="Costo de la Venta del Producto" [(ngModel)]="data.costopromosion">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm">
                <label for="formGroupExampleInput">Talla del Producto</label>
                <select class="custom-select"  (blur)="blur('talla')" [(ngModel)]="data.talla">
                  <option>None</option>
                    <option
                      value="{{item.id}}"
                      *ngFor="let item of listtalla"
                      [disabled]="(item.talla === 'varias' && data.colores.color === 'varias')"
                    >
                      {{ item.talla }}
                    </option>
                </select>
              </div>
              <div class="form-group col-sm">
                <label for="formGroupExampleInput">Color del Producto</label>
                <select class="custom-select"  (blur)="blur('color')" [(ngModel)]="data.color">
                  <option>None</option>
                    <option
                      value="{{item.id}}"
                      *ngFor="let item of listcolor"
                      [disabled]="(item.color === 'varias' && data.tallas.talla === 'varias')"
                    >
                      {{ item.color }}
                    </option>
                </select>
              </div>
              <div class="form-group col-sm" *ngIf="disabledinit">
                <label for="formGroupExampleInput">Fecha de Vencimiento</label>
                <input type="date"  placeholder="Fecha de Vencimiento" [(ngModel)]="data.fechavencimiento"
                (blur)="edit('fechavencimiento')">
              </div>
            </div>
            <div class="form-column" *ngIf="disabledinit">
              <angular-editor [(ngModel)]="data.descripcioncorta" [config]="config"></angular-editor>
                <!-- <div class="form-group col">
                  <label for="formGroupExampleInput">Descripcion Corta</label>
                  <textarea class="form-control" maxlength="100" minlength="5" (blur)="blur('descripcioncorta', false)" rows="3" [(ngModel)]="data.descripcioncorta" required></textarea>
                </div> -->
                <div class="d-flex justify-content-end" *ngIf="data.id">
                  <button type="button" (click)="blur('descripcioncorta', false)" class="btn btn-success">Actualizar</button>
                </div>
              </div>
            <div class="form-column">
              <angular-editor [(ngModel)]="data.descripcion" [config]="config"></angular-editor>
              <!-- <div class="form-group col">
                <label for="formGroupExampleInput">Descripcion</label>
                <textarea class="form-control" (blur)="blur('descripcion', false)" rows="3" [(ngModel)]="data.descripcion" required></textarea>
              </div> -->
              <div class="d-flex justify-content-end" *ngIf="data.id">
                <button type="button" (click)="blur('descripcion', false)" class="btn btn-success">Actualizar</button>
              </div>
            </div>
            <br>
            <div class="form-column" *ngIf="disabledinit">
              <nav
                class="navbar navbar-light bg-light row card-header card-header-danger"
              >
                <div class="content container row">
                  <span class="p">
                    Tamaño del producto
                  </span>
                </div>
              </nav>
              <div class="form-row">
                <div class="form-group col-sm">
                  <label for="formGroupExampleInput">Alto cm</label>
                  <input type="number"
                    (blur)="blur('alto', false)"
                    class="form-control" placeholder="Alto del producto en cm" [(ngModel)]="data.alto" required>
                </div>
                <div class="form-group col-sm">
                  <label for="formGroupExampleInput">Largo cm</label>
                  <input type="number"
                    (blur)="blur('largo', false)"
                    class="form-control" placeholder="Largo del producto en cm" [(ngModel)]="data.largo" required>
                </div>
                <div class="form-group col-sm">
                  <label for="formGroupExampleInput">Ancho cm</label>
                  <input type="number"
                    (blur)="blur('ancho', false)"
                    class="form-control" placeholder="Ancho del producto en cm" [(ngModel)]="data.ancho" required>
                </div>
              </div>
            </div>
            <br>
            <div class="column" *ngIf="data.costovarios">
              <nav
                class="navbar navbar-light bg-light row card-header card-header-danger"
              >
                <div class="content container row">
                  <span
                    class="p"
                  >
                      Lista de Promosiones
                  </span>
                  <div>
                    <button
                      mat-mini-fab
                      color="primary"
                      type="button"
                      (click)="blur('listapromosion', true)"
                    >
                      <i class="material-icons">edit</i>
                    </button>
                    <button
                      mat-mini-fab
                      color="accent"
                      type="button"
                      (click)="data.listapromosion.push({})"
                    >
                      <i class="material-icons">add_circle_outline</i>
                    </button>
                  </div>
                </div>
              </nav>
              <div class="column" *ngFor="let item of data.listapromosion; let idx = index">
                <div class="row">
                  <div class="form-group col-sm">
                    <label for="formGroupExampleInput">Cantidad Adquirir</label>
                    <input type="number"
                      class="form-control" placeholder="Cantidad Adquirir del Producto" [(ngModel)]="item.cantidad">
                  </div>
                  <div class="form-group col-sm">
                    <label for="formGroupExampleInput">Presio * Unidad</label>
                    <input type="number"
                      class="form-control" placeholder="Presio por unidad del producto" [(ngModel)]="item.presio">
                  </div>
                  <div class="p-3">
                    <button
                      mat-mini-fab
                      color="warn"
                      type="button"
                      (click)="data.listapromosion.splice(idx, 1); blur('listapromosion', true) "
                    >
                      <i class="material-icons">
                        close
                      </i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="column" *ngIf="data.tallas.talla === 'varias' && data.talla !== 'null'">
              <nav
                class="navbar navbar-light bg-light row card-header card-header-danger"
              >
                <div class="content container row">
                  <span
                    class="p"
                  >
                      Lista de Tallas
                  </span>
                  <div>
                    <button
                      mat-mini-fab
                      color="primary"
                      type="button"
                      (click)="blur('listatallas', true)"
                      matTooltip="Actualizar lista de Tallas"
                    >
                      <i class="material-icons">edit</i>
                    </button>
                    <button
                      mat-mini-fab
                      color="accent"
                      type="button"
                      matTooltip="Agregar Una Nueva Lista"
                      (click)="data.listatallas.push({})"
                    >
                      <i class="material-icons">add_circle_outline</i>
                    </button>
                  </div>
                </div>
              </nav>
              <div class="column" *ngFor="let item of data.listatallas; let idx = index">
                <div class="row">
                  <div class="form-group col-sm">
                    <label for="formGroupExampleInput">Talla del Producto</label>
                    <select class="custom-select"  [(ngModel)]="item.talla">
                        <option
                          value="{{item.talla}}"
                          *ngFor="let item of listtalla"
                          [disabled]="item.talla === 'varias'"
                        >
                          {{ item.talla }}
                        </option>
                    </select>
                  </div>
                  <div class="form-group col-sm">
                    <label for="formGroupExampleInput">Color del Producto</label>
                    <select class="custom-select"  [(ngModel)]="item.color">
                        <option
                          value="{{item.color}}"
                          *ngFor="let item of listcolor"
                          [disabled]="item.color === 'varias'"
                        >
                          {{ item.color }}
                        </option>
                    </select>
                  </div>
                  <div class="form-group col-sm">
                    <label for="formGroupExampleInput">Cantidad</label>
                    <input type="number"
                      class="form-control" placeholder="Cantidad del Producto" [(ngModel)]="item.cantidad">
                  </div>
                  <div class="p-3">
                    <button
                      mat-mini-fab
                      color="warn"
                      type="button"
                      matTooltip="Eliminar lista"
                      (click)="data.listatallas.splice(idx, 1); blur('listatallas', true) "
                    >
                      <i class="material-icons">
                        close
                      </i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="column" *ngIf="data.colores.color === 'varias' && data.color !== 'null'">
              <nav
                class="navbar navbar-light bg-light row card-header card-header-danger"
              >
                <div class="content container row">
                  <span
                    class="p"
                  >
                      Lista de Colores
                  </span>
                  <div>
                    <button
                      mat-mini-fab
                      color="primary"
                      type="button"
                      (click)="blur('listacolores', true)"
                      matTooltip="Actualizar lista"
                    >
                      <i class="material-icons">edit</i>
                    </button>
                    <button
                      mat-mini-fab
                      color="accent"
                      type="button"
                      matTooltip="Agregar Una Lista Nueva"
                      (click)="data.listacolores.push({})"
                    >
                      <i class="material-icons">add_circle_outline</i>
                    </button>
                  </div>
                </div>
              </nav>
              <div class="column" *ngFor="let item of data.listacolores">
                <div class="row">
                  <div class="form-group col-sm">
                    <label for="formGroupExampleInput">Color del Producto</label>
                    <select class="custom-select"  [(ngModel)]="item.color">
                        <option
                          value="{{item.color}}"
                          *ngFor="let item of listcolor"
                          [disabled]="item.color === 'varias'"
                        >
                          {{ item.color }}
                        </option>
                    </select>
                  </div>
                  <div class="form-group col-sm">
                    <label for="formGroupExampleInput">Cantidad</label>
                    <input type="number"
                      class="form-control" placeholder="Cantidad del Producto" [(ngModel)]="item.cantidad">
                  </div>
                  <div class="p-3">
                    <button
                      mat-mini-fab
                      color="warn"
                      type="button"
                      matTooltip="Eliminar lista"
                      (click)="data.listacolores.splice(idx, 1); blur('listacolores', true) "
                    >
                      <i class="material-icons">
                        close
                      </i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="column" *ngIf="data.id">
              <nav
                class="navbar navbar-light bg-light row card-header card-header-danger"
              >
                <span
                  class="p"
                >
                    Galeria
                </span>
                <div class="row" *ngIf="listgaleria.length <=5">
                  <div class="row p-1">
                      <!-- multiple="true" -->
                    <input
                      type="file"
                      [(ngModel)]="img"
                      (blur)="datafiles($event)"
                      accept="image/png, image/jpeg"
                    >
                  </div>
                  <div class="p-1">
                    <button
                      (click)="file(data)"
                      *ngIf="carga"
                      class="btn btn-primary"
                    >
                      <i class="fas fa-cloud-upload-alt fa-1x"></i>
                      Guardar Imagen
                    </button>
                  </div>
                  <div *ngIf="!carga" class="p-1">
                    <strong>Loading...</strong>
                    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                  </div>
                </div>
              </nav>
              <div class="row p-3">
                <div
                  class="col-6 col-sm-4 col-lg-3 mat-elevation-z3" *ngFor="let pro of listgaleria"
                >
                    <div class="single-product-wrapper">
                        <div class="product-img">
                            <img src="{{ pro.foto || '/assets/img/product-img/product-4.jpg'}}" alt="none">
                            <img class="hover-img" src="{{ pro.foto || '/assets/img/product-img/product-5.jpg'}}" alt="none">
                            <!-- <div class="product-badge offer-badge">
                                <span class="mouse" (click)="deletefile(pro)">
                                  <i class="material-icons">close</i>
                                </span>
                            </div> -->
                        </div>
                        <div class="product-description">
                            <a href="single-product-details.html">
                                <h6>{{ pro.titulo }}</h6>
                            </a>
                            <!-- <div class="hover-content">
                                <div class="">
                                    <button type="button" (click)="data.foto = pro.foto; blur('foto')" class="btn btn-primary">Principal</button>
                                    <button type="button" (click)="data.foto2 = pro.foto; blur('foto2')" class="btn btn-primary">Segunda p</button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                      <div class="d-flex justify-content-center">
                        <button type="button" (click)="data.foto = pro.foto; blur('foto')" class="btn btn-success">Principal</button>
                      </div>
                      <div class="d-flex justify-conte">
                        <button type="button" (click)="data.foto2 = pro.foto; blur('foto2')" class="btn btn-success">Segunda p</button>
                      </div>
                      <div class="d-flex justify-content-center">
                        <button type="button" (click)="deletefile(pro)" class="btn btn-danger">Eliminar</button>
                        <!-- <span class="mouse" (click)="deletefile(pro)">
                          <i class="material-icons">close</i>
                        </span> -->
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="column" *ngIf="data.id">
              <nav
                class="navbar navbar-light bg-light row card-header card-header-danger"
              >
                <span
                  class="p"
                >
                    Etiqueta
                </span>
              </nav>
              <div class="column content">
                <div class="row">
                  <div class="form-group col">
                    <input type="text"
                      class="form-control" (keyup)="buscaretiquete()" placeholder="Buscar Etiqueta" [(ngModel)]="search">
                  </div>
                  <div class="p-1">
                    <button type="button" (click)="buscaretiquete()" class="btn btn-primary">Buscar</button>
                  </div>
                </div>
                <div class="row p-3">
                  <div
                    class="col-4 col-sm-3 col-lg-2 mat-elevation-z3" *ngFor="let pro of listetiqueta"
                  >
                      <div class="single-product-wrapper">
                          <div class="product-img">

                              <img src="{{ pro.foto || '/assets/img/product-img/product-4.jpg'}}" alt="none">
                              <img class="hover-img" src="{{ pro.foto || '/assets/img/product-img/product-5.jpg'}}" alt="none">
                              <div class="product-badge offer-badge">
                                  <span class="mouse" (click)="etiquetaAdd(pro)" *ngIf="!pro.check">
                                    <i class="material-icons">check</i>
                                  </span>
                                  <span class="mouse" (click)="etiquetaDelete(pro)" *ngIf="pro.check">
                                    <i class="material-icons">close</i>
                                  </span>
                              </div>
                          </div>
                          <div class="product-description">
                              <a href="single-product-details.html">
                                  <h6>{{ pro.categoria }}</h6>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="d-flex justify-content-center" *ngIf="!listetiqueta.length">
                    <button type="button" (click)="crearetiqueta()" class="btn btn-success">Crear</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-column" *ngIf="multiple && !disabledexcel">
            <div class="form-column" *ngFor="let item of listgroup">
              <div class="form-row">
                <div class="form-group">
                  <label for="formGroupExampleInput">Codigo del Producto</label>
                  <input type="text"
                    class="form-control" placeholder="Codigo del Producto" [(ngModel)]="item.codigo">
                </div>
                <div class="form-group col-sm">
                  <label for="formGroupExampleInput">Nombre del Producto</label>
                  <input type="text"
                    (blur)="clickmultiple()"
                    class="form-control" placeholder="Nombre" [(ngModel)]="item.titulo">
                </div>
                <div class="form-group" *ngIf="disabledinit">
                  <label for="formGroupExampleInput">Tipo de producto</label>
                  <select class="custom-select" [(ngModel)]="item.tipoproduct" required>
                    <option value="producto" *ngIf="user.empresas.ofrece === 'producto' || user.empresas.ofrece === 'productoservicio'">Producto</option>
                    <option value="servicio" *ngIf="user.empresas.ofrece === 'servicio' || user.empresas.ofrece === 'productoservicio'">Servicio</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput">Tipo de Mercado</label>
                  <select class="custom-select" [(ngModel)]="item.tipomercado" required>
                    <option 
                          *ngFor="let pro of listmercados"
                          value="{{ pro.id }}"
                    >{{ pro.titulo }}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm">
                  <label for="formGroupExampleInput">Categoria</label>
                  <select class="custom-select" [(ngModel)]="item.categorias">
                    <option
                      value="{{item.id}}"
                      *ngFor="let item of listcategoria"
                    >
                      {{ item.categoria }}
                    </option>
                  </select>
                </div>
                <div class="form-group col-sm">
                  <label for="formGroupExampleInput">Marca</label>
                  <select class="custom-select" [(ngModel)]="item.marca">
                    <option
                      value="{{item.id}}"
                      *ngFor="let item of listmarca"
                    >
                      {{ item.categoria }}
                    </option>
                  </select>
                </div>
                <div class="form-group col-sm">
                  <label for="formGroupExampleInput">Cantidad</label>
                  <input type="number"
                    class="form-control" placeholder="Cantidad de Producto" [(ngModel)]="item.cantidad">
                </div>
                <div class="form-group col-sm" *ngIf="disabledinit">
                  <label for="formGroupExampleInput">Stock</label>
                  <input type="text"
                    class="form-control" placeholder="Stock de Producto" [(ngModel)]="item.stock">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm">
                  <label for="formGroupExampleInput">Estado del Producto</label>
                  <select class="custom-select" [(ngModel)]="item.estado">
                    <option value="nuevo">Nuevo</option>
                    <option value="usado">Usado</option>
                  </select>
                </div>
                <div class="form-group col-sm" *ngIf="disabledinit">
                  <label for="formGroupExampleInput">Opcion</label>
                  <select class="custom-select" *ngIf="user.rol.nombre === 'super admin' || data.opcion==='activo'" [(ngModel)]="item.opcion">
                    <option value="revisando">Revisando</option>
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                  </select>
                </div>
                <div class="form-group col-sm">
                  <label for="formGroupExampleInput">Costo del Producto</label>
                  <input type="number"
                    class="form-control" placeholder="Costo del Producto" [(ngModel)]="item.costocompra">
                </div>
                <div class="form-group col-sm" *ngIf="user.rol.nombre === 'super admin'">
                  <label for="formGroupExampleInput">Costo de la Venta</label>
                  <input type="number"
                    class="form-control" placeholder="Costo de la Venta del Producto" [(ngModel)]="item.costoventa">
                </div>
                <div class="form-group col-sm">
                  <label for="formGroupExampleInput">Costo de Promosion</label>
                  <input type="number"
                    class="form-control" placeholder="Costo de la Venta del Producto" [(ngModel)]="item.costopromosion">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm">
                  <label for="formGroupExampleInput">Talla del Producto</label>
                  <select class="custom-select" [(ngModel)]="item.talla" (blur)="estadolist('talla', item)">
                    <option>None</option>
                      <option
                        value="{{pro.id}}"
                        *ngFor="let pro of listtalla"
                        [disabled]="(pro.talla === 'varias' && item.colores.talla === 'varias')"
                      >
                        {{ pro.talla }}
                      </option>
                  </select>
                </div>
                <div class="form-group col-sm">
                  <label for="formGroupExampleInput">Color del Producto</label>
                  <select class="custom-select"  [(ngModel)]="item.color" (blur)="estadolist('color', item)">
                      <option>None</option>
                      <option
                        value="{{pro.id}}"
                        *ngFor="let pro of listcolor"
                        [disabled]="(pro.color === 'varias' && item.tallas.talla === 'varias')"
                      >
                        {{ pro.color }}
                      </option>
                  </select>
                </div>
                <div class="form-group col-sm" *ngIf="disabledinit">
                  <label for="formGroupExampleInput">Fecha de Vencimiento</label>
                  <input type="date"  placeholder="Fecha de Vencimiento" [(ngModel)]="item.fechavencimiento">
                </div>
              </div>
              <div class="form-column" *ngIf="disabledinit">
                <div class="d-flex justify-content-center">
                  <h5>Tamaño del producto</h5>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm">
                    <label for="formGroupExampleInput">Alto cm</label>
                    <input type="number"
                      class="form-control" placeholder="Alto del producto en cm" [(ngModel)]="item.alto">
                  </div>
                  <div class="form-group col-sm">
                    <label for="formGroupExampleInput">Largo cm</label>
                    <input type="number"
                      class="form-control" placeholder="Largo del producto en cm" [(ngModel)]="item.largo">
                  </div>
                  <div class="form-group col-sm">
                    <label for="formGroupExampleInput">Ancho cm</label>
                    <input type="number"
                      class="form-control" placeholder="Ancho del producto en cm" [(ngModel)]="item.ancho">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label for="formGroupExampleInput">Descripcin</label>
                  <textarea class="form-control" rows="3" [(ngModel)]="item.descripcion"></textarea>
                </div>
              </div>
              <br>
              <br>
              <div class="column" *ngIf="item.tallas.talla === 'varias' && item.talla !== 'null'">
                <nav
                  class="navbar navbar-light bg-light row card-header card-header-danger"
                >
                  <div class="content container row">
                    <span
                      class="p"
                    >
                        Lista de Tallas
                    </span>
                    <div>
                      <button
                        mat-mini-fab
                        color="accent"
                        type="button"
                        (click)="item.listatallas.push({})"
                        class="btn btn-primary">
                        <i class="material-icons">add_circle_outline</i>
                      </button>
                    </div>
                  </div>
                </nav>
                <div class="column" *ngFor="let pro of item.listatallas">
                  <div class="row">
                    <div class="form-group col-sm">
                      <label for="formGroupExampleInput">Talla del Producto</label>
                      <select class="custom-select"  [(ngModel)]="pro.talla">
                          <option
                            value="{{key.id}}"
                            *ngFor="let key of listtalla"
                            [disabled]="pro.talla === 'varias'"
                          >
                            {{ key.talla }}
                          </option>
                      </select>
                    </div>
                    <div class="form-group col-sm">
                      <label for="formGroupExampleInput">Color del Producto</label>
                      <select class="custom-select"  [(ngModel)]="pro.color">
                          <option
                            value="{{key.id}}"
                            *ngFor="let key of listcolor"
                            [disabled]="key.color === 'varias'"
                          >
                            {{ key.color }}
                          </option>
                      </select>
                    </div>
                    <div class="form-group col-sm">
                      <label for="formGroupExampleInput">Cantidad</label>
                      <input type="number"
                        class="form-control" placeholder="Cantidad del Producto" [(ngModel)]="pro.cantidad">
                    </div>
                  </div>
                </div>
              </div>
              <div class="column" *ngIf="item.colores.color === 'varias' && item.color !== 'null'">
                <nav
                  class="navbar navbar-light bg-light row card-header card-header-danger"
                >
                  <div class="content container row">
                    <span
                      class="p"
                    >
                        Lista de Colores
                    </span>
                    <div>
                      <button
                        mat-mini-fab
                        color="accent"
                        type="button"
                        (click)="item.listacolores.push({})"
                        class="btn btn-primary">
                        <i class="material-icons">add_circle_outline</i>
                      </button>
                    </div>
                  </div>
                </nav>
                <div class="column" *ngFor="let pro of item.listacolores">
                  <div class="row">
                    <div class="form-group col-sm">
                      <label for="formGroupExampleInput">Color del Producto</label>
                      <select class="custom-select"  [(ngModel)]="pro.color">
                          <option
                            value="{{key.id}}"
                            *ngFor="let key of listcolor"
                            [disabled]="key.color === 'varias'"
                          >
                            {{ key.color }}
                          </option>
                      </select>
                    </div>
                    <div class="form-group col-sm">
                      <label for="formGroupExampleInput">Cantidad</label>
                      <input type="number"
                        class="form-control" placeholder="Cantidad del Producto" [(ngModel)]="pro.cantidad">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="p-1">
                  <button
                    mat-mini-fab
                    color="warn"
                    placeholder="eliminar"
                    (click)="listgroup.splice(indice, 1)"
                  >
                    <i
                      class="material-icons"
                    >
                      close
                    </i>
                  </button>
                </div>  
              </div>
          </div>
          </div>
          <div class="form-column" *ngIf="disabledexcel">
              <div class="d-flex align-items-center">
                <input type="file" (change)="onFileChange($event)" multiple="false" />
              </div>
            </div>
          <div
            class="d-flex justify-content-end"
          >
            <button placeholder="guardar"
                    *ngIf="disable && !data.id"
                    [disabled]="!disablesaved"
                    (click)="saved()"
                    matTooltip="Guardar Producto" type="button" class="btn btn-success">Guardar Producto
            </button>
          </div>
      </div>
      <!-- <table class="sjs-table">
        <tr *ngFor="let row of excel">
          <td *ngFor="let val of row">
            {{val}}
          </td>
        </tr>
      </table> -->
      <!-- <button type="button" (click)="genrarexcel()" name="button">Export</button> -->
  </div>
</div>
