<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger row">
                      <div class="col">
                        <h4 class="card-title ">Empresa</h4>
                        <p class="card-category" *ngIf="!disable"> Listado de Empresa</p>
                        <p class="card-category" *ngIf="disable"> Agregar Empresa</p>
                      </div>
                      <div class="">
                        <button
                          mat-mini-fab
                          placeholder="guardar"
                          *ngIf="disable && !data.id"
                          (click)="saved()"
                        >
                          <i class="material-icons">save</i>
                        </button>
                        <button
                          mat-mini-fab
                          (click)="add()"
                          placeholder="agregar"
                        >
                          <i
                            class="material-icons"
                            *ngIf="!disable"
                          >
                            add_circle_outline
                          </i>
                          <i
                            class="material-icons"
                            *ngIf="disable"
                          >
                            close
                          </i>
                        </button>
                      </div>
                  </div>
                  <div class="card-body" *ngIf="!disable">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                     Opciones
                                  </th>
                                  <th>
                                      Codigo
                                  </th>
                                  <th>
                                      Empresa
                                  </th>
                                  <th>
                                      Url
                                  </th>
                                  <th>
                                      Ofrece
                                  </th>
                                  <th>
                                      Estado
                                  </th>
                                  <th>
                                      Creado
                                  </th>
                              </thead>
                              <tbody>
                                  <tr
                                    *ngFor="let item of list"
                                  >
                                      <td>
                                        <button
                                          mat-mini-fab
                                          placeholder="Ver"
                                          [routerLink]="['../empresa', item.id]"
                                        >
                                        <!-- (click)="add(item)" -->
                                          <i
                                            class="material-icons"
                                          >
                                            remove_red_eye
                                          </i>
                                        </button>
                                      </td>
                                      <td>
                                        {{ item.codigo }}
                                      </td>
                                      <td>
                                        {{ item.empresa }}
                                      </td>
                                      <td>
                                        {{ item.url }}
                                      </td>
                                      <td>
                                        {{ item.ofrece }}
                                      </td>
                                      <td>
                                        {{ item.estado }}
                                      </td>
                                      <td>
                                        {{ item.createdAt}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="card-body" *ngIf="disable">
                    <div class="form-column">
                      <div class="column" *ngIf="data.id">
                        <div class="row justify-content-md-center">
                          <img *ngIf="data.id" [src]="data.foto" alt="none" width="200px"
                            height="180px">
                        </div>
                        <div class="row justify-content-md-center p-1">
                          <input type="file" placeholder="Imagenes" [(ngModel)]="img" (blur)="datafiles($event)">
                        </div>
                        <div class="row justify-content-md-center">
                          <button
                            (click)="file(cuerpo)"
                            *ngIf="carga"
                            class="btn btn-primary"
                          >
                            <i class="fas fa-cloud-upload-alt fa-1x"></i>
                            Guardar Imagen
                          </button>
                        </div>
                        <div  *ngIf="!carga" class="d-flex align-items-center">
                          <strong>Loading...</strong>
                          <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group">
                          <label for="formGroupExampleInput">Codigo</label>
                          <input type="text"
                            (blur)="blur('codigo')"
                            class="form-control" placeholder="Codigo de la Empresa" [(ngModel)]="data.codigo">
                        </div>
                        <div class="form-group col">
                          <label for="formGroupExampleInput">Empresa</label>
                          <input type="text"
                            (blur)="blur('empresa')"
                            class="form-control" placeholder="Nombre de la Empresa" [(ngModel)]="data.empresa">
                        </div>
                        <div class="form-group col">
                          <label for="formGroupExampleInput">Ofrece</label>
                          <select class="custom-select"  (blur)="blur('ofrece')" [(ngModel)]="data.ofrece">
                            <option value="producto">Producto</option>
                            <option value="servicio">Servicio</option>
                            <option value="productoservicio">Producto y Servicio</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col">
                          <label for="formGroupExampleInput">Url de La Empresa</label>
                          <input type="text"
                            (blur)="blur('url')"
                            class="form-control" placeholder="Url de la Empresa o Dominio de la empresa" [(ngModel)]="data.url">
                        </div>
                        <div class="form-group col">
                          <label for="formGroupExampleInput">Estado</label>
                          <select class="custom-select"  (blur)="blur('estado')" [(ngModel)]="data.estado">
                            <option value="activo">Activo</option>
                            <option value="inactivo">Inactivo</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-row" *ngIf="data.id">
                        <div
                          class="page-title text-center"
                        >
                            <h5>Tipos de Mercado</h5>
                        </div>
                        <div class="row">
                          <div
                            class="col-6 col-sm-4 col-lg-3" *ngFor="let pro of listmercados"
                            [ngClass]="{
                                'disable':pro.check
                             }"
                          >
                              <div class="single-product-wrapper">
                                  <div class="product-img">
                                      <img src="{{ pro.logo || '/assets/img/product-img/product-4.jpg'}}" alt="none">
                                      <img class="hover-img" src="{{ pro.logo2 || '/assets/img/product-img/product-5.jpg'}}" alt="none">
                                  </div>
                                  <div class="product-description">
                                      <a href="single-product-details.html">
                                          <h6>{{ pro.titulo }}</h6>
                                      </a>
                                      <div class="hover-content" *ngIf="pro.check">
                                          <div class="">
                                              <a (click)="savedmercado(pro)" class="mouse">Seleccionado</a>
                                          </div>
                                      </div>
                                      <div class="hover-content" *ngIf="!pro.check">
                                          <div class="add-to-cart-btn">
                                              <a (click)="savedmercado(pro)" class="mouse">Seleccionar</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-column" *ngIf="data.id">
                        <div
                          class="page-title text-center"
                        >
                            <h5>Usuario principal</h5>
                        </div>
                        <div class="form-row">
                          <div class="form-group">
                            <label for="formGroupExampleInput">Username</label>
                            <input type="text"
                              (blur)="blur('username')"
                              class="form-control" placeholder="nombre unico / avatar" [(ngModel)]="user.username">
                          </div>
                          <div class="form-group col">
                            <label for="formGroupExampleInput">Nombre</label>
                            <input type="text"
                              (blur)="blur('lastname')"
                              class="form-control" placeholder="Nombre del Usuario" [(ngModel)]="user.lastname">
                          </div>
                          <div class="form-group col">
                            <label for="formGroupExampleInput">Password</label>
                            <input type="password"
                              (blur)="blur('password')"
                              class="form-control" placeholder="Password de Usuario" [(ngModel)]="user.password">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col">
                            <label for="formGroupExampleInput">Email</label>
                            <input type="email"
                              (blur)="blur('email')"
                              class="form-control" placeholder="Email del Usuario" [(ngModel)]="user.email">
                          </div>
                        </div>
                        <div class="form-row" *ngIf="!user.id">
                          <div class="page-title text-center">
                            <button type="button" (click)="usersaved()" class="btn btn-primary">Registrar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
