<mat-sidenav-container class="example-container">
  <mat-sidenav position="end" #sidenav mode="side" [(opened)]="opened" [mode]="'over'" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
   <div class="cart-bg-overlay"></div>

   <div class="right-side-cart-area">
       <div class="cart-button">
           <a href="#" id="rightSideCart"><img [src]="'./assets/img/core-img/bag.svg'" alt=""> <span>3</span></a>
       </div>
       <div class="cart-content d-flex">
           <div class="cart-list">
               <div class="single-cart-item" *ngFor="let cart of listCart; let idx=index">
                   <a class="product-image">
                       <img [routerLink]="['/tienda/shop/singleproductdetails', cart.slug]" src="{{cart.foto || './assets/img/product-img/product-1.jpg'}}" class="cart-thumb mouse" alt="">
                       <div class="cart-item-desc">
                         <span class="product-remove mouse" (click)="listCart.splice(idx, 1); deleteart()">
                           <i class="material-icons" aria-hidden="true">close</i>
                         </span>
                           <span [routerLink]="['/tienda/shop/singleproductdetails', cart.slug]" class="badge mouse">{{ cart.titulo }}</span>
                           <!-- <h6>{{ cart.descripcion }}</h6> -->
                           <p class="size">{{ cart.talla }}</p>
                           <p class="color">{{ cart.color }}</p>
                           <p class="price">${{ cart.costopromosion || cart.costoventa | currency:'COP':true }}</p>
                       </div>
                   </a>
               </div>
           </div>
           <div class="cart-amount-summary">
             <div class="content">
               <div class="row">
                 <div class="col">

                 </div>
                 <div class="">
                   <a class="mouse" (click)="sidenav.toggle()">
                     <i class="material-icons" aria-hidden="true">close</i>
                   </a>
                 </div>
               </div>
             </div>
               <h2>Resumen</h2>
               <ul class="summary-table">
                   <li><span>subtotal:</span> <span>${{data.subtotal || 0 | currency:'COP':true}}</span></li>
                   <li><span>entrega:</span> <span>${{0 | currency:'COP':true}}</span></li>
                   <li><span>descuento:</span> <span>${{data.descuento || 0| currency:'COP':true}}</span></li>
                   <li><span>total:</span> <span>${{data.total || 0 | currency:'COP':true}}</span></li>
               </ul>
               <div class="checkout-btn mt-100">
                   <!-- <a [routerLink]="['checkout', data.codigo]" (click)="sidenav.toggle();" class="btn essence-btn">revisar</a> -->
                   <button type="button" class="btn btn-dark" name="button" [routerLink]="['checkout', data.codigo]" (click)="sidenav.toggle();">Revisar</button>
               </div>
           </div>
       </div>
   </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" routerLink="contenido"><img class="img" [src]="app.logo || './assets/img/dilisap1.png'" width="80px;" alt=""></a>
                <!-- Navbar Toggler -->
                <!-- <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div> -->
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav row">
                        <ul>
                           <li><a routerLink="contenido">Inicio</a></li>
                            <!-- <li><span class="mouse">Tienda</span>
                                <div class="megamenu">
                                    <ul class="single-mega cn-col-4">
                                        <span class="title">Categorias</span>
                                        <div class="" *ngFor="let item of listcategorias">
                                          <a  *ngIf="item.slug === 'tiendas-oficiales'" [routerLink]="['tiendas']">{{ item.categoria }}</a>
                                          <a  *ngIf="item.slug !== 'tiendas-oficiales'" [routerLink]="['shop', item.slug]">{{ item.categoria }}</a>
                                        </div>
                                    </ul>
                                </div>
                            </li> -->
                            <li><a class="mouse">Paginas</a>
                                <ul class="dropdown">
                                    <a [routerLink]="['/tienda/contenido']">Inicio</a>
                                    <a [routerLink]="['/tienda/shop']">Comprar</a>
                                    <a [routerLink]="['/tienda/checkout', 'ADB']">Revisar Pedido</a>
                                    <!-- <a [routerLink]="['/tienda/blog']">Blog</a> -->
                                    <!-- <a [routerLink]="['/tienda/singleblog']">Blog Unico</a> -->
                                    <!-- <a [routerLink]="['/tienda/regularpage']">Regular Page</a> -->
                                    <a [routerLink]="['/tienda/contact']">Contactenos</a>
                                </ul>
                            </li>
                            <!-- <li><a routerLink="blog">Blog</a></li> -->
                            <li><a [routerLink]="['/tienda/contact']">Contactenos</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="search-area">
                    <form>
                        <input type="search" name="search" [(ngModel)]="search" placeholder="Bucar Productos">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <div class="user-login-info" matTooltip="Buscar" (click)="getsearch()">
                    <a class="mouse"><i class="material-icons">search</i></a>
                </div>
                <div class="user-login-info" matTooltip="Ingresar al Administrador">
                    <a [routerLink]="['/login']"><i class="material-icons">account_circle</i></a>
                </div>
                <div class="user-login-info" matTooltip="Registrarse">
                    <a [routerLink]="['/registro']"><i class="material-icons">how_to_reg</i></a>
                </div>
                <div class="cart-area" matTooltip="Carrito de Compras">
                    <a class="mouse" (click)="sidenav.toggle(); eventocart()" id="essenceCartBtn"><i class="material-icons">add_shopping_cart</i></a>
                </div>
            </div>

        </div>
    </header>
    <router-outlet></router-outlet>
    <!-- <div class="mx-auto mt-3" style="width: 80%;">
    </div> -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <div class="footer-logo mr-50">
                            <a href="#"><img [src]="app.foto || './assets/img/dilisap1.png'" width="81px;" alt=""></a>
                        </div>
                        <div class="footer_menu">
                            <ul>
                                <li><a [routerLink]="['/tienda/shop']">Comprar</a></li>
                                <!-- <li><a href="blog.html">Blog</a></li> -->
                                <li><a [routerLink]="['/tienda/contact']">Contactenos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <!-- <li><a href="#">Order Status</a></li> -->
                            <!-- <li><a href="#">Payment Options</a></li> -->
                            <li><a class="mouse">Envios a Todo el Pais</a></li>
                            <!-- <li><a href="#">Guides</a></li> -->
                            <li><a [routerLink]="['/tienda/contact']" class="mouse">Política de privacidad</a></li>
                            <li><a [routerLink]="['/tienda/contact']" class="mouse">Términos de Uso</a></li>
                        </ul>
                        <img src="./assets/img/epayco_pago_seguro.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row align-items-end">
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_heading mb-30">
                            <h6>Suscribete</h6>
                        </div>
                        <div class="subscribtion_form">
                            <form action="#" method="post">
                                <input type="email" name="mail" class="mail" placeholder="Introducir tu email">
                                <button type="submit" class="submit"><i class="material-icons">arrow_right_alt</i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_social_area">
                            <a href="{{ app.facebook || 'https://www.facebook.com/Dilsaplive-104436717575886/?modal=admin_todo_tour'}}"  target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><img src="./assets/img/redsocial/facebook.png" width="16px" alt=""></a>
                            <a href="{{ app.instagram || 'https://www.instagram.com/dilisaplive/?hl=es-la'}}" target="_blank" data-toggle="tooltip" data-placement="top" title="Instagram"><img class="text-white bg-dark"src="./assets/img/redsocial/instagram.png" width="16px" alt=""></a>
                            <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
                            <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a> -->
                            <a href="{{ app.youtube || 'https://www.youtube.com.co/'}}" class="mouse" data-toggle="tooltip" data-placement="top" title="Youtube"><img src="./assets/img/redsocial/youtube.png" width="16px" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

    <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p>
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los Derechos Reservados a Dilisap S.A Software INf: +57 3228576900
                    </p>
                </div>
            </div>

        </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
