<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger row">
                      <div class="col row">
                        <div class="">
                          <h4 class="card-title ">Categorias</h4>
                          <p class="card-category" *ngIf="!disable"> Listado de Categorias</p>
                          <p class="card-category" *ngIf="disable"> Agregar Categorias</p>
                        </div>
                        <div class="col p-1" *ngIf="!disable">
                          <input type="text"
                            style="color: white;"
                            matTooltip="Buscador"
                            class="form-control" placeholder="Buscar Cliente" [(ngModel)]="searcht.txt" (blur)="getsearh()">
                        </div>
                        <div class="" *ngIf="!disable">
                          <button
                            mat-mini-fab
                            color="primary"
                            matTooltip="Buscar"
                            placeholder="Buscar" (click)="getsearh()">
                            <i class="material-icons">search</i>
                          </button>
                        </div>
                      </div>
                      <div class="">
                        <button
                          mat-mini-fab
                          placeholder="guardar"
                          *ngIf="disable && !data.id"
                          (click)="saved()"
                        >
                          <i class="material-icons">save</i>
                        </button>
                        <button
                          mat-mini-fab
                          (click)="add(false)"
                          placeholder="agregar"
                        >
                          <i
                            class="material-icons"
                            *ngIf="!disable"
                          >
                            add_circle_outline
                          </i>
                          <i
                            class="material-icons"
                            *ngIf="disable"
                          >
                            close
                          </i>
                        </button>
                      </div>
                  </div>
                  <div class="card-body" *ngIf="!disable">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                     Opciones
                                  </th>
                                  <th>
                                      Codigo
                                  </th>
                                  <th>
                                      Categorias
                                  </th>
                                  <th>
                                      Tipo
                                  </th>
                                  <th>
                                      Creado
                                  </th>
                              </thead>
                              <tbody>
                                  <tr
                                    *ngFor="let item of list"
                                  >
                                      <td>
                                        <button
                                          mat-mini-fab
                                          (click)="add(item)"
                                          placeholder="Ver"
                                        >
                                          <i
                                            class="material-icons"
                                          >
                                            remove_red_eye
                                          </i>
                                        </button>
                                        <button
                                          mat-mini-fab
                                          color="warn"
                                          placeholder="eliminar"
                                          (click)="delete(item, indice)"
                                        >
                                          <i
                                            class="material-icons"
                                          >
                                          delete_forever
                                          </i>
                                        </button>
                                      </td>
                                      <td>
                                        {{ item.id }}
                                      </td>
                                      <td>
                                        {{ item.categoria }}
                                      </td>
                                      <td>
                                        {{ item.categoriaDe }}
                                      </td>
                                      <td>
                                        {{ item.createdAt}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                          <mat-paginator [length]="count"
                                        [pageSize]="10"
                                        (page)="pageEvent($event)">
                          </mat-paginator>
                      </div>
                  </div>
                  <div class="card-body" *ngIf="disable">
                    <div class="form-column">
                      <div class="form-row">
                        <div class="form-group col">
                          <label for="formGroupExampleInput">Categira</label>
                          <input type="text"
                            (blur)="blur('categoria')"
                            class="form-control" placeholder="Nombre de la Categoria" [(ngModel)]="data.categoria">
                        </div>
                        <div class="form-group col">
                          <label for="formGroupExampleInput">Categora de</label>
                          <select class="custom-select"  (blur)="blur('categoriaDe')" [(ngModel)]="data.categoriaDe">
                            <option value="categoria" *ngIf="user.rol.nombre === 'super admin'">Categoria</option>
                            <option value="producto">Producto</option>
                            <option value="etiqueta">Etiqueta</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col">
                          <label for="formGroupExampleInput">Descripcion</label>
                          <textarea class="form-control" (blur)="blur('descripcion')" rows="3" [(ngModel)]="data.descripcion"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
