<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger row">
                      <div class="col">
                        <h4 class="card-title ">Compras</h4>
                        <p class="card-category" *ngIf="!disable"> Listado de Compras</p>
                        <p class="card-category" *ngIf="disable"> Compras</p>
                      </div>
                      <div class="">
                        <!-- <button
                          mat-mini-fab
                          placeholder="guardar"
                          *ngIf="disable && !data.id"
                          (click)="saved()"
                        >
                          <i class="material-icons">save</i>
                        </button> -->
                        <button
                          mat-mini-fab
                          (click)="add()"
                          placeholder="agregar"
                        >
                          <i
                            class="material-icons"
                            *ngIf="!disable"
                          >
                            add_circle_outline
                          </i>
                          <i
                            class="material-icons"
                            *ngIf="disable"
                          >
                            close
                          </i>
                        </button>
                      </div>
                  </div>
                  <div class="card-body" *ngIf="!disable">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                     Opciones
                                  </th>
                                  <th>
                                      Codigo
                                  </th>
                                  <th>
                                      titulo
                                  </th>
                                  <th>
                                      Costo
                                  </th>
                                  <th>
                                      Creado
                                  </th>
                              </thead>
                              <tbody>
                                  <tr
                                    *ngFor="let item of list"
                                  >
                                      <td>
                                        <button
                                          mat-mini-fab
                                          placeholder="Ver"
                                          [routerLink]="['../empresa', item.id]"
                                        >
                                        <!-- (click)="add(item)" -->
                                          <i
                                            class="material-icons"
                                          >
                                            remove_red_eye
                                          </i>
                                        </button>
                                      </td>
                                      <td>
                                        {{ item.codigo }}
                                      </td>
                                      <td>
                                        {{ item.titulo }}
                                      </td>
                                      <td>
                                        {{ item.costo }}
                                      </td>
                                      <td>
                                        {{ item.createdAt}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="card-body" *ngIf="disable">
                    <div class="form-column">
                      <!-- <nav
                        class="navbar navbar-light bg-light row card-header card-header-danger"
                      >
                        <span
                          class="p"
                        >
                            Informacion de la Compra
                        </span>
                      </nav> -->
                      <div class="form-row">
                        <div class="form-group">
                          <label for="formGroupExampleInput">Codigo</label>
                          <input type="text"
                            (blur)="blur('codigo')"
                            class="form-control" placeholder="Codigo de la Empresa" [(ngModel)]="data.codigo">
                        </div>
                        <div class="form-group col-sm">
                          <label for="formGroupExampleInput">Usuario</label>
                          <input type="text"
                            class="form-control" placeholder="Nombre del usuario" [(ngModel)]="data.user.username">
                        </div>
                        <div class="form-group col-sm">
                          <label for="formGroupExampleInput">Celular</label>
                          <input type="text"
                            class="form-control" placeholder="Telefono del usuario" [(ngModel)]="data.user.celular">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-sm">
                          <label for="formGroupExampleInput">Email</label>
                          <input type="text"
                            class="form-control" placeholder="Email del usuario" [(ngModel)]="data.user.email">
                        </div>
                        <div class="form-group col-sm">
                          <label for="formGroupExampleInput">Direccion</label>
                          <input type="text"
                            class="form-control" placeholder="Direccion del usuario" [(ngModel)]="data.user.direccion">
                        </div>
                        <div class="form-group col-sm">
                          <label for="formGroupExampleInput">Departamento</label>
                          <input type="text"
                            class="form-control" placeholder="Departamento / ciudad" [(ngModel)]="data.user.departamento">
                        </div>
                      </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="form-column">
                      <nav
                        class="navbar navbar-light bg-light row card-header card-header-danger"
                      >
                        <span
                          class="p"
                        >
                            Productos Comprados
                        </span>
                      </nav>
                      <div class="form-column p-3">
                        <div
                          class="col-6 col-sm-4 col-lg-3 mat-elevation-z3" *ngFor="let pro of listproductos"
                        >
                            <div class="single-product-wrapper">
                                <div class="product-img">
                                    <img src="{{ pro.foto || '/assets/img/product-img/product-4.jpg'}}" alt="none">
                                    <img class="hover-img" src="{{ pro.foto || '/assets/img/product-img/product-5.jpg'}}" alt="none">
                                    <div class="product-badge offer-badge">
                                        <span class="mouse" (click)="deletefile(pro)">
                                          <i class="material-icons">close</i>
                                        </span>
                                    </div>
                                </div>
                                <div class="product-description">
                                    <a href="single-product-details.html">
                                        <h6>{{ pro.titulo }}</h6>
                                    </a>
                                    <div class="hover-content">
                                        <!-- <div class="">
                                            <button type="button" (click)="data.foto = pro.foto; blur('foto')" class="btn btn-primary">Principal</button>
                                            <button type="button" (click)="data.foto2 = pro.foto; blur('foto2')" class="btn btn-primary">Segunda p</button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-column">
                      <nav
                        class="navbar navbar-light bg-light row card-header card-header-danger"
                      >
                        <span
                          class="p"
                        >
                            Informacion de Pago
                        </span>
                      </nav>
                      <div class="form-column">
                        <div class="form-row">
                          <div class="form-group col-sm">
                            <label for="formGroupExampleInput">Medio de pago</label>
                            <input type="text"
                              class="form-control" placeholder="Pago" [(ngModel)]="data.pago.medio">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
