.fondo {
    background-image: url('https://www.diariodesevilla.es/2018/09/27/sevilla/centro-comercial-Torre-Sevilla_1285982036_89413339_667x375.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}
.imgperfil{
  width: 100%;
  height: 319px;
}
