
<!-- ##### Right Side Cart Area ##### -->
<div class="container" *ngIf="data.id">
  <div class="column content">
    <div class="row">
      <div class="col-3">
        <img
          src="{{ data.logo || './assets/img/angular2-logo-red.png'}}" alt="Not Found"
          width="188px"
          class="rounded"
          height="189px"
        >
        <div class="">
          <div class="row">
            <label>Tienda:</label>
            <span>{{ data.empresa }}</span>
          </div>
          <div class="row">
            <label>Direccion:</label>
            <span>{{ data.direccion || 'calle 1e centro'}}</span>
          </div>
          <div class="row">
            <label>Contacto:</label>
            <span>{{ data.numero || '3228576900'}}</span>
          </div>
          <div class="row">
            <label>Fundada:</label>
            <span>{{ data.fundada || '2019' }}</span>
          </div>
          <div class="row">
            <a [routerLink]="['../../contact', data.url]" class="mouse">Informacion +:</a>
          </div>
        </div>
      </div>
      <div class="col">
        <img
          src="{{ data.fondo || './assets/img/cover.jpeg'}}" alt="Not Found"
          width="683px"
          class="rounded"
          height="373px"
        >
      </div>
    </div>
  </div>
  <div class="column content">
    <div class="page-title text-center">
        <h2>Productos Con Gran Prestigios</h2>
    </div>
    <div class="row">
      <div class="col-9 col-sm-4 col-lg-3" *ngFor="let pro of listproductpres">
          <div
            class="single-product-wrapper"
          >
              <!-- Product Image -->
              <div class="product-img mouse" [routerLink]="['../singleproductdetails', pro.slug]" target="_blank">
                  <img src="{{ pro.foto || '/assets/img/product-img/product-4.jpg'}}" alt="none">
                  <!-- Hover Thumb -->
                  <img class="hover-img" src="{{ pro.foto2 || '/assets/img/product-img/product-5.jpg'}}" alt="none">

                  <!-- Favourite -->
                  <div class="product-favourite">
                      <a href="#" class="favme fa fa-heart"></a>
                  </div>
              </div>

              <!-- Product Description -->
              <div class="product-description">
                  <span [routerLink]="['../singleproductdetails', pro.slug]" class="mouse" target="_blank">topshop</span>
                  <a [routerLink]="['../singleproductdetails', pro.slug]" class="mouse" target="_blank">
                      <h6>{{ pro.titulo }}</h6>
                  </a>
                  <p class="product-price" *ngIf="!pro.costopromosion">{{ pro.costoventa }}</p>
                  <p class="product-price" *ngIf="pro.costopromosion"><span class="old-price">{{ pro.costoventa }}</span> {{ pro.costopromosion }}</p>

                  <!-- Hover Content -->
                  <div class="hover-content">
                      <!-- Add to Cart -->
                      <div class="add-to-cart-btn">
                          <a (click)="agregar(pro)" class="mouse btn essence-btn">Agregar Al Carrito</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="breadcumb_area bg-img" style="background-image: url(./assets/img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>{{ 'Tienda '+data.empresa }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">

                    <!-- ##### Single Widget ##### -->
                    <div class="widget catagory mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Catagories</h6>

                        <!--  Catagories  -->
                        <div class="catagories-menu">
                            <ul id="menu-content2" class="menu-content collapse show">
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#clothing">
                                    <a href="#">clothing</a>
                                    <ul class="sub-menu collapse show" id="clothing">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Bodysuits</a></li>
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">Hoodies &amp; Sweats</a></li>
                                        <li><a href="#">Jackets &amp; Coats</a></li>
                                        <li><a href="#">Jeans</a></li>
                                        <li><a href="#">Pants &amp; Leggings</a></li>
                                        <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                                        <li><a href="#">Shirts &amp; Blouses</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">Sweaters &amp; Knits</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#shoes" class="collapsed">
                                    <a href="#">shoes</a>
                                    <ul class="sub-menu collapse" id="shoes">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Bodysuits</a></li>
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">Hoodies &amp; Sweats</a></li>
                                        <li><a href="#">Jackets &amp; Coats</a></li>
                                        <li><a href="#">Jeans</a></li>
                                        <li><a href="#">Pants &amp; Leggings</a></li>
                                        <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                                        <li><a href="#">Shirts &amp; Blouses</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">Sweaters &amp; Knits</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#accessories" class="collapsed">
                                    <a href="#">accessories</a>
                                    <ul class="sub-menu collapse" id="accessories">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Bodysuits</a></li>
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">Hoodies &amp; Sweats</a></li>
                                        <li><a href="#">Jackets &amp; Coats</a></li>
                                        <li><a href="#">Jeans</a></li>
                                        <li><a href="#">Pants &amp; Leggings</a></li>
                                        <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                                        <li><a href="#">Shirts &amp; Blouses</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">Sweaters &amp; Knits</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <div class="widget price mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Filter by</h6>
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Price</p>

                        <div class="widget-desc">
                            <div class="slider-range">
                                <div data-min="49" data-max="360" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="49" data-value-max="360" data-label-result="Range:">
                                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                </div>
                                <div class="range-price">Range: $49.00 - $360.00</div>
                            </div>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <div class="widget color mb-50">
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Color</p>
                        <div class="widget-desc">
                            <ul class="d-flex">
                                <li><a href="#" class="color1"></a></li>
                                <li><a href="#" class="color2"></a></li>
                                <li><a href="#" class="color3"></a></li>
                                <li><a href="#" class="color4"></a></li>
                                <li><a href="#" class="color5"></a></li>
                                <li><a href="#" class="color6"></a></li>
                                <li><a href="#" class="color7"></a></li>
                                <li><a href="#" class="color8"></a></li>
                                <li><a href="#" class="color9"></a></li>
                                <li><a href="#" class="color10"></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <div class="widget brands mb-50">
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Brands</p>
                        <div class="widget-desc">
                            <ul>
                                <li><a href="#">Asos</a></li>
                                <li><a href="#">Mango</a></li>
                                <li><a href="#">River Island</a></li>
                                <li><a href="#">Topshop</a></li>
                                <li><a href="#">Zara</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                <div class="total-products">
                                    <p><span>186</span> products found</p>
                                </div>
                                <!-- Sorting -->
                                <div class="product-sorting d-flex">
                                    <p>Sort by:</p>
                                    <form action="#" method="get">
                                        <select name="select" id="sortByselect">
                                            <option value="value">Highest Rated</option>
                                            <option value="value">Newest</option>
                                            <option value="value">Price: $$ - $</option>
                                            <option value="value">Price: $ - $$</option>
                                        </select>
                                        <input type="submit" class="d-none" value="">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-12 col-sm-6 col-lg-4" *ngFor="let pro of listProduct">
                          <div class="single-product-wrapper">
                              <!-- Product Image -->
                              <div class="product-img mouse" [routerLink]="['../singleproductdetails', pro.slug]" target="_blank">
                                  <img src="{{ pro.foto || '/assets/img/product-img/product-4.jpg'}}" alt="none">
                                  <!-- Hover Thumb -->
                                  <img class="hover-img" src="{{ pro.foto2 || '/assets/img/product-img/product-5.jpg'}}" alt="none">

                                  <!-- Favourite -->
                                  <div class="product-favourite">
                                      <a href="#" class="favme fa fa-heart"></a>
                                  </div>
                              </div>

                              <!-- Product Description -->
                              <div class="product-description">
                                  <span [routerLink]="['../singleproductdetails', pro.slug]" class="mouse" target="_blank">topshop</span>
                                  <a [routerLink]="['../singleproductdetails', pro.slug]" class="mouse" target="_blank">
                                      <h6>{{ pro.titulo }}</h6>
                                  </a>
                                  <p class="product-price" *ngIf="!pro.costopromosion">{{ pro.costoventa }}</p>
                                  <p class="product-price" *ngIf="pro.costopromosion"><span class="old-price">{{ pro.costoventa }}</span> {{ pro.costopromosion }}</p>

                                  <!-- Hover Content -->
                                  <div class="hover-content">
                                      <!-- Add to Cart -->
                                      <div class="add-to-cart-btn">
                                          <a (click)="agregar(pro)" class="mouse btn essence-btn">Agregar Al Carrito</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination mt-50 mb-70">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">21</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
